*{
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

html{
  background-color: #1c1c1c;
  font-family: 'Roboto', sans-serif;
}
body{
  font-family: 'Roboto', sans-serif;
}

header{
  height: 100px;
}

header .row, .countdownTimer .row{
  margin-top: 35px;
  display: flex;
}

.venueDateContainer{
  margin-top: 6px;
  color: #aaaaaa;
}

.venueDateContainer{
  font-size: 12px;
  text-transform: uppercase;
}

.socialContainer{
  display: flex;
  margin-top: 6px;
}

.socialPlate{
  width: 15px;
  height: 15px;
  background-color: #bababa;
  color: #fff;
  border-radius: 10px;
  margin-right: 7px;
}

.socialPlate:nth-child(1){
  padding-left: 1px;
}

.socialPlate:nth-child(2){
  padding-left: 4px;
}

.socialPlate:nth-child(3){
  padding-left: 4px;
}
.socialPlate a{
  text-decoration: none;
  color: #fff;
}
.socialPlate:hover{
  background-color: #e53935;
  color: #fff;
}

.navigator{
  background-color: #1c1c1c;
  height: 100px;
  padding-top: 5px;
}

.navigator .nav-pills li a{
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 50px;
}

.navigator .nav-pills li a:hover, .navigationbar .open a{
  border-radius: 50px !important;
  color: #000;
  background-color: #fff;
}

.dropdown-menu{
  background-color: #e53935;
}

.dropdown-menu li, .open a{
  background-color: #e53935 !important;
  color: #fff !important;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.open a:hover{
  color: #000 !important;
  background-color: #fff !important;
  border-radius: 0;
}

.carouselSlider{
  height: 750px;
  background-color: #1c1c1c;
}

.carouselSlider .container, .carouselSlider .container img{
  height: 750px;
}

.carouselText{
  text-align: left;
  width: 100%;
  left: 2%;
  top: 35%;
}

.carouselText #carouselDate{
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
}

.carouselText #carouselVenue{
  color: #fff;
  font-size: 20px;
}

.carouselText #carouselTitle{
  color: #fff;
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.carousel-control{
  background-image: none !important;
}

.carousel-control.left{
  left: 76%;
}

.countdownTimer{
  background-color: #e53935;
  color: #fff;
  height: 180px;
  cursor: default;
}

.countdownTimer h2{
  font-size: 32px;
}

.countdownTimer h2{
  font-size: 32px;
  font-weight: bold;
}

.countdownTimer p{
  font-size: 16px;
}

#dividerVert{
  width: 1px;
  height: 55px;
  background-color: #fff;
  margin: 25px auto;
}

.aboutEvent, .presentation{
  height: 650px;
}

.aboutEvent .row, .program .row, .presentation .row{
  display: block;
  margin-top: 35px;
  padding-left: 15px;
}

.aboutEvent .heading, .program .heading{
  width: 70%;
}

.aboutEvent h2, .program h2, .presentation h2, .accomodation h2{
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.dividerHor{
  width: 60px;
  height: 1px;
  background-color: #000;
  margin-bottom: 20px;
}

.aboutEvent p, .program p, .presentation p, .accomodation p{
  color: #4d4d4d;
  font-size: 16px;
  line-height: 2;
}

.features{
  background-color: #fafafa;
  padding: 30px 0 30px 40px;
}

.features img{
  margin-left: -15px;
}

.features h3{
  color: #e53935;
  font-weight: bold;
  margin: 0;
}

.features p{
  line-height: 1.75;
}

.features .dividerHor{
  width: 30px;
  margin: 30px 0 30px -10px;
}

.program{
  background-color: #e8e8e8;
  height: auto;
  padding-bottom: 50px;
}

.program .nav{
  background-color: #fff;
}

.program .nav a{
  font-size: 16px;
  color: #e53935;
  font-weight: bold;
}

.program .nav-pills .active a{
  background-color: #e53935 !important;
}

.programDetails{
  background-color: #f7f7f7;
  padding-top: 15px;
  margin: 0;
}

.programDetails .headingOne a{
  text-decoration: none;
  color: #000;
}

.programDetails .headingOne a i{
  color: #e53935;
  margin: 0 20px 0 20px;
}

.programDetails .panel-body {
  padding-left: 157px;
}

.programDetails .panel-body .speakerDetails, .programDetails .panel-body .speakerDetails .ctaBtns{
  display: flex;
}

.programDetails .panel-body .speakerDetails{
  margin-top: 20px;
}

.programDetails .panel-body .speakerDetails img{
  width: 100px;
  height: 100px;
}

.programDetails .panel-body .speakerDetails .speakerId{
  margin-left: 20px;
  width: 45%;
}

.programDetails .panel-body .speakerDetails .speakerId h3{
  color: #4d4d4d;
  font: 16px;
  margin-bottom: 0;
}

.programDetails .panel-body .speakerDetails .speakerId p{
  font-size: 14px;
  color: #e53935;
}

.programDetails .panel-body .speakerDetails .ctaBtns p, .programDetails .panel-body .speakerDetails .ctaBtns a{
  padding: 10px;
  background-color: #000;
  color: #fff;
  height: 50px;
  margin: 20px 20px;
  border: 0;
  font-size: 14px;
  font-weight: bold;
}

.programDetails .panel-body .speakerDetails .ctaBtns p{
  cursor: default;
}

.programDetails .panel-body .speakerDetails .ctaBtns a{
  background-color: #e53935;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 15px;
}

.programDetails .panel-body .speakerDetails .ctaBtns a:hover{
  color: #e53935;
  border: 1px solid #e53935;
  background-color: #fff;
}

.programDetails .panel, .programDetails .panel-heading, .programDetails .panel-body, .programDetails .panel-default, .programDetails .panel-collapse, .programDetails .panel-group{
  border: 0 !important;
  background-color: rgba(255, 0, 0, 0) !important;
  box-shadow: none !important;
}

.presentation .row{
  text-align: center;
  width: 68%;
  margin:0 auto;
  padding-top: 35px;
}


.presentation p{
  padding-bottom: 50px;
}

.presentation .dividerHor{
  margin: 20px auto;
  padding: 0;
}

.presentation .dwldBtn, .address .dwldBtn{
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  color: #e53935;
  border: 1px solid #e53935;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.presentation .dwldBtn:hover, .address .dwldBtn:hover{
  color: #fff;
  background: #e53935;
}

.address{
  background-color: #1c1c1c;
  height: 600px;
}

.address .container{
  margin: 150px auto;
  color: #bfbfbf;
  font-size: 16px;
}

.address img{
  width: 15%;
  height: auto;
}

.address h2{
  color: #fff;
  font-size: 24px;
  font-weight: normal;
}

.address .addressAndPhone{
  display: flex;
  color: #969696;
}

.address p{
  font-size: 16px;
}

.address p:nth-child(6){
  padding-bottom: 60px;
}

.address .addressAndPhone p{
  padding-right: 15px;
}

.address .dividerHor{
  background-color: #bfbfbf;
  margin-top: 10px;
}

.address .dwldBtn{
  background-color: #1c1c1c;
}

.accomodation{
  background-color: #fff;
  height: 400px;
}

.accomodation .container{
  margin: 90px auto;
}

.accomodation img{
  width: 95%;
  height: auto;
  margin: 20px auto;
}

.accomodation .ratings i{
  color: #ffd026;
  margin: 5px;
}

.accomodation .ratings i:nth-child(5){
  color: #cccccc;
}

.stats{
  background-color: #f2f2f2;
  height: 300px;
  padding-top: 100px;
}

.stats h2{
  color: #919191;
  font-weight: 100;
  font-size: 50px;
}
